// Copy this script to 'keystore.gradle' and edit it.
// References:
//   http://tools.android.com/tech-docs/new-build-system/user-guide#TOC-Signing-Configurations
//   http://developer.android.com/tools/publishing/app-signing.html
signingConfigs{
  release{
    storeFile file("my-release-key.keystore")
    storePassword "my-store-password"
    keyAlias "alias_name"
    keyPassword "my-key-password"
  }
}
